#SV-81429r4_rule,SV-81433r2_rule
#deployment.system.config=file\:C\:/WINDOWS/Sun/Java/Deployment/deployment.properties
deployment.system.config=file:///C:/Windows/Sun/Java/Deployment/deployment.properties
#deployment.system.config=file\:C\:\\WINDOWS\\Sun\\Java\\Deployment\\deployment.properties
deployment.system.config.mandatory=TRUE